<div class="header">
    <div class="buttons">
        <button (click)="goBack()">Home</button>
        <button (click)="nextPage()">Next Page</button>
    </div>
</div>
<div class="main">
    <div class="definition">
        <h1><u>What is a SEDAN car?</u></h1>
        <p>A <b>SEDAN</b> or saloon (British English) is a passenger car in a three-box configuration with separate
            compartments for engine, passenger, and cargo.</p>
    </div>
    <div class="namewiki">
        <h1><u>Where does the name "SEDAN" come from?</u></h1>
        <p><b>Sedan's</b> first recorded use as a name for a car body was in 1912.<br>The name comes from a
            17th-century development of a litter, the sedan chair, a one-person enclosed box with windows and
            carried by porters.</p>
    </div>
    <div class="topfive">
        <h1><u>Top 5 sedan cars:</u></h1>
        <ol>
            <li>Hyundai Accent 2022</li>
            <li>Kia Rio 2022</li>
            <li>Honda Civic 2022</li>
            <li>Honda Civic Si 2022</li>
            <li>Hyundai Elantra N 2022 </li>
        </ol>
    </div>
    <div class="lookslike">
        <h1><u>What a sedan looks like?</u></h1>
        <img src="assets/images/sedanimage.jfif">
    </div>
</div>