<div class="header">
    <div class="buttons">
        <button (click)="backPage()">Back</button>
        <button (click)="goBack()">Home</button>
        <button (click)="nextPage()">Next</button>
    </div>
</div>
<div class="main">
    <div class="definition">
        <h1><u>What is a SUV car?</u></h1>
        <p>A sport utility vehicle or <b>SUV</b> is a car classification that combines elements of road-going passenger
            cars
            with features from off-road vehicles,<br> such as raised ground clearance and four-wheel drive.</p>
    </div>
    <div class="namewiki">
        <h1><u>Where does the name "SUV" come from?</u></h1>
        <p>The first relevant usage of the term <b>SUV</b> was in advertising brochures for the full-sized 1974 Jeep Cherokee
            (SJ),<br> which used the wording <b>"sport(s) utility vehicle"</b> as a description for the vehicle.</p>
    </div>
    <div class="topfive">
        <h1><u>Top 5 SUV cars:</u></h1>
        <ol>
            <li>Audi Q5 2022</li>
            <li>Land Rover Discovery Sport 2022</li>
            <li>BMW X3 2022</li>
            <li>Jaguar F-Pace 2022</li>
            <li>Mercedes-Benz GLC 2022 </li>
        </ol>
    </div>
    <div class="lookslike">
        <h1><u>What a SUV looks like?</u></h1>
        <img src="assets/images/suvimage.png">
    </div>
</div>