<div class="header">
    <div class="buttons">
        <button (click)="backPage()">Back</button>
        <button (click)="goBack()">Home</button>
    </div>
</div>
<div class="main">
    <div class="definition">
        <h1><u>What is a LUXURY car?</u></h1>
        <p>A <b>luxury car</b> is a car that provides increased levels of comfort, equipment, amenities, quality,
            performance,
            and status compared to regular cars for an increased price.</p>
    </div>
    <div class="namewiki">
        <h1><u>Where does the name "LUXURY" come from?</u></h1>
        <p>The term is subjective and reflects both the qualities of the car and the brand image of its manufacturer.
        </p>
    </div>
    <div class="topfive">
        <h1><u>Top 5 luxury cars:</u></h1>
        <ol>
            <li>Rolls-Royce Phantom 2022</li>
            <li>Bentley Flying Spur 2022</li>
            <li>Mercedes-Maybach S650 2022</li>
            <li>Bentley Mulsanne 2022</li>
            <li>Rolls-Royce Cullinan 2022 </li>
        </ol>
    </div>
    <div class="lookslike">
        <h1><u>What a luxury car looks like?</u></h1>
        <img src="assets/images/luxuryimage.jfif">
    </div>
</div>